services:
    _defaults:
        autowire: true
        autoconfigure: true

    Gpp\GeonameBundle\Service\GeonameParser: ~

    Gpp\GeonameBundle\Service\GeonameSearchService:
        arguments:
            $connection: '@database_connection'
            $geonameTable: '%gpp_geoname.tables.geoname%'
            $admin1Table: '%gpp_geoname.tables.admin1%'
            $admin2Table: '%gpp_geoname.tables.admin2%'

    Gpp\GeonameBundle\Service\GeonameHierarchyService:
        arguments:
            $connection: '@database_connection'
            $geonameTable: '%gpp_geoname.tables.geoname%'
            $hierarchyTable: '%gpp_geoname.tables.hierarchy%'

    Gpp\GeonameBundle\Service\GeonameImporter:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $httpClient: '@http_client'
            $tmpDir: '%gpp_geoname.temp_dir%'
        calls:
            - [setEntityClasses, ['%gpp_geoname.entities.geoname%', '%gpp_geoname.entities.import%']]
            - [setTableNames, ['%gpp_geoname.tables.import%']]

    Gpp\GeonameBundle\Command\SyncGeonameCommand:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $geonameEntityClass: '%gpp_geoname.entities.geoname%'
            $importEntityClass: '%gpp_geoname.entities.import%'
            $countryEntityClass: '%gpp_geoname.entities.country%'
            $languageEntityClass: '%gpp_geoname.entities.language%'
            $alternateNameEntityClass: '%gpp_geoname.entities.alternate_name%'
            $alternateNamesEnabled: '%gpp_geoname.alternate_names.enabled%'
        tags: ['console.command']

    Gpp\GeonameBundle\Command\ImportAdminCodesCommand:
        arguments:
            $admin1EntityClass: '%gpp_geoname.entities.admin1%'
            $admin2EntityClass: '%gpp_geoname.entities.admin2%'
        tags: ['console.command']
