services:
    _defaults:
        autowire: true
        autoconfigure: true

    Pallari\GeonameBundle\Service\GeonameParser: ~

    Pallari\GeonameBundle\Service\GeonameSearchService:
        arguments:
            $connection: '@database_connection'
            $geonameTable: '%pallari_geoname.tables.geoname%'
            $admin1Table: '%pallari_geoname.tables.admin1%'
            $admin2Table: '%pallari_geoname.tables.admin2%'
            $admin3Table: '%pallari_geoname.tables.admin3%'
            $admin4Table: '%pallari_geoname.tables.admin4%'
            $useFulltext: '%pallari_geoname.search.use_fulltext%'

    Pallari\GeonameBundle\Service\GeonameHierarchyService:
        arguments:
            $connection: '@database_connection'
            $geonameTable: '%pallari_geoname.tables.geoname%'
            $hierarchyTable: '%pallari_geoname.tables.hierarchy%'

    Pallari\GeonameBundle\Service\GeonameImporter:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $httpClient: '@http_client'
            $tmpDir: '%pallari_geoname.temp_dir%'
        calls:
            - [setEntityClasses, ['%pallari_geoname.entities.geoname%', '%pallari_geoname.entities.import%', '%pallari_geoname.entities.alternate_name%']]
            - [setTableNames, ['%pallari_geoname.tables.import%', '%pallari_geoname.tables.hierarchy%', '%pallari_geoname.tables.alternate_name%']]

    Pallari\GeonameBundle\Command\SyncGeonameCommand:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $geonameEntityClass: '%pallari_geoname.entities.geoname%'
            $importEntityClass: '%pallari_geoname.entities.import%'
            $countryEntityClass: '%pallari_geoname.entities.country%'
            $languageEntityClass: '%pallari_geoname.entities.language%'
            $alternateNameEntityClass: '%pallari_geoname.entities.alternate_name%'
            $alternateNamesEnabled: '%pallari_geoname.alternate_names.enabled%'
            $admin5Enabled: '%pallari_geoname.admin5.enabled%'
            $geonameTable: '%pallari_geoname.tables.geoname%'
            $adminTables:
                adm1: '%pallari_geoname.tables.admin1%'
                adm2: '%pallari_geoname.tables.admin2%'
                adm3: '%pallari_geoname.tables.admin3%'
                adm4: '%pallari_geoname.tables.admin4%'
        tags: ['console.command']

    Pallari\GeonameBundle\Command\ImportAdminCodesCommand:
        arguments:
            $admin1EntityClass: '%pallari_geoname.entities.admin1%'
            $admin2EntityClass: '%pallari_geoname.entities.admin2%'
        tags: ['console.command']
